@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  background-image: url(../assets/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  width: 100vh;
}

header img {
  display: flex;
  width: 206px;
  height: 159px;
}

section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

form {
  align-items: center;
  background: rgba(0, 0, 0, 0.71);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 510px;
  justify-content: center;
  width: 443px;
  padding: 2em;
}

form h1 {
  font-size: 2.3em;
  justify-content:flex-start;
  margin-left: -270px;
}

input {
  margin-bottom: 1em;
}

.form-dados, .form-entrar {
  align-items: center;;
  border-radius: 10px;
  border: none;
  height: 50px;
  padding-left: 10px;
  width: 382px;
}

.form-dados {
  align-items: center;
  background: rgba(129, 129, 129, 0.21);
  border-radius: 10px;
  border: none;
  height: 50px;
  width: 382px;
}

.form-entrar {
  background-color: #E50914;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

.usuario {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 20vh;
  padding: 10px;
}

.precisa-ajuda {
  justify-content: flex-end;
}

.cor-text-form {
  color: #7E7E7A;
}

.form-link {
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}

.form-saiba-mais {
  color: #0047FF;
}

.centralizar-icon {
  align-items: center;
  display: flex;
  padding: 5px;
}

.centralizar-icon .span-centraliza {
  align-items: center;
  display: flex;
}

.icon-facebook {
  width: 20px;
  height: 20px;
}

.captcha {
  font-size: 14px;
}